version: '3.7'

services:

  test:
    networks:
      - traefik        
    image: nginx:alpine
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.test.rule=Host(`${DOMAIN}`)"
        - "traefik.http.services.test.loadbalancer.server.port=80"
        - "traefik.http.routers.test.tls.certresolver=letsencrypt"

  acme:
    image: traefik:latest
    ports:
    - "80:80"  
    - "8080:8080"
    networks:
      - traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $PWD/traefik.yml:/etc/traefik/traefik.yml
      - $PWD/acme:/acme
          
networks:

  traefik:
    external: true
